.container {
    margin-top: 20px;
}

.controls {
    float: right;
}

.controls i {
    width: 60px;
    text-align: center;
}

.controls .score {
    display: inline-block;
    width: 50px;
    text-align: center;
}

